body {
  margin: 0;
  
  font-family: sans-serif;
}

.app-header {
  display: flex;
  align-items: center;
  color: white;
  padding: 1rem;
 
}

.filters {
  display: flex;
  height: 100vh;
  width: 100%;
}
.left {
  
  flex: 1; /* Smallest width */
  background-color:#00205A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.left-top {
  flex: 1; /* Some height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-middle {
  flex: 2; /* Little more height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-bottom {
  flex: 1; /* Little height */
  display: flex;
  justify-content: center;
  align-items: center;
}
.topbar-container {
  position: fixed;
  background-color:#00205A;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100; /* mimic MUI AppBar z-index */
   /* same as MUI primary */
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topbar {
  display: flex;
  background-color: #08498D;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px; /* small border radius */
   /* same as parent or a bit lighter */
}


.user-menu:hover .dropdown {
  display: block;
}
.user-menu {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center;
  height: 80px;
  width:80px;
  border:1px solid #ccc;
}

.username {
  padding: 0.5rem;
}
.dropdown button {
  background: none;
  border: none;
  padding: 0.75rem 1rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.right {
  background-color:#00205A;
  flex: 2; /* Slightly more than left */
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%; /* Make sure it fills available vertical space */
  gap: 10px; /* optional spacing */
}

.right-top,
.right-bottom {
  flex: 1; /* equal height */
  border: 1px solid #ccc; /* optional, just to see boundaries */
  padding: 10px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  color: white;
  padding: 1rem 2rem;
}
.topbar .username {
  font-size: 1rem;
}



/* When a value is selected, change the text color */


.center {
  background-color:#00205A;
  flex: 4; /* Largest width */
  
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px; /* optional spacing between sections */
}

.center-top,
.center-middle,
.center-bottom {
  
  padding: 10px;
}

.center-top {
  flex: 1; /* small */
}

.center-middle {
  flex: 2; /* larger */
}

.center-bottom {
  flex: 1; /* small */
}





